.app-header {
  background-color: #32cd32; /* Changed to a shade of green */
  color: white;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.app-header h1 {
  margin: 0;
}

.cocktail-icon {
  margin-right: 10px;
  color: white; /* Ensure the icon color matches the text color */
}