.app-header {
  background-color: #32cd32; /* Changed to a shade of green */
  color: white;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.app-header h1 {
  margin: 0;
}

.cocktail-icon {
  margin-right: 10px;
  color: white; /* Ensure the icon color matches the text color */
}

.btn-clear-search {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #66cdaa; /* Changed to a shade of green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-clear-search:hover {
  background-color: #2e8b57; /* Changed to a shade of green */
}