.add-recipe-form-container {
  margin: 20px;
}

.add-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.ingredient-group {
  display: flex;
  gap: 10px;
}

.form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  background-color: #3cb371; /* Changed to a shade of green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2e8b57; /* Changed to a shade of green */
}

.btn-add {
  display: inline-block;
  cursor: pointer;
}

.btn-remove {
  background-color: #8fbc8f; /* Changed to a shade of green */
  color: white;
}

.btn-remove:hover {
  background-color: #6b8e23; /* Changed to a shade of green */
}