.recipes-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.recipes-list h2 {
  text-align: center;
  color: #2e8b57; /* Changed to a shade of green */
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  padding: 15px;
  list-style-type: none;
  background-color: #f9f9f9;
}

.recipe-card h3 {
  margin-top: 0;
  color: #3cb371; /* Changed to a shade of green */
}

.recipe-card ul {
  padding-left: 0;
}

.recipe-card ul li {
  margin-bottom: 5px;
}

.recipe-card p {
  margin-top: 10px;
  color: #6b8e23; /* Changed to a shade of green */
}

.recipe-card.highlight {
  background-color: #9acd32; /* Changed to a shade of green */
}

.scaling-factor-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.scaling-factor-container label {
  margin-right: 0.5rem;
}

.recipe-edit-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.recipe-name-input {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredient-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.amount-input {
  width: 80px;
}

.measurement-input {
  width: 120px;
}

.item-input {
  flex: 1;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}